<h1>Meeting info</h1>
<h2><%= @meeting.name %></h2>
<p>Start: <%= @meeting.start_time %></p>
<p>End: <%= @meeting.end_time %></p>
<p>Address: <%= @meeting.address %></p>
<%= link_to "All meetings", "/meetings" %>