<!DOCTYPE html>
<html>
<head>
  <title>CapstoneExemplar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <%= link_to "Sign out", "/users/sign_out", method: :delete %>
  <% else %>
    <%= link_to "Sign in", "/users/sign_in" %>
    <%= link_to "Sign up", "/users/sign_up" %>
  <% end %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</body>
</html>
